<form>
  <tb-geoloc-map
    [geolocatedPhotoLatLng]=testLatLngData
    [layersToAdd]="layers"
    [reset]="_reset"
    [patchAddress]="patchAddress"
    [patchElevation]="patchElevation"
    [patchLngLatDec]="patchLngLatDec"
    [drawMarker]="drawMarker"
    [patchGeometry]="patchGeometry"
    elevationProvider="elevationApiIo"
    geolocationProvider="osm"
    [mapQuestApiKey]="mapQuestApiKey"
    (location)=locationChange($event)>
  </tb-geoloc-map>
</form>
<br /><br /><br />
<div (click)="emitLatLngData()">Simuler l'import de photos géolocalisées</div>
<br />
<p (click)="reset()">RESET</p>
<p (click)="testPatchAddress()">TEST patch adresse</p>
<p (click)="testPatchElevation()">TEST patch altitude</p>
<p (click)="testPatchLngLatDec()">TEST patch lng/lat</p>
<p (click)="testDrawMarker()">TEST draw marker</p>
<p (click)="testPatchGeometry()">TEST patch geometry</p>
<p (click)="testPatchGeometry2()">TEST patch geometry ++</p>